<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
    <% include partials/navbar.ejs %>
    
</head>
<body>
    <p class="col-sm-6 col-md-offset-4" style="font-family: consolas; font-size: 40px;">Blogposts listed here</p>
    
    <!-- <div class="media-body"> -->
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <% for(post in posts){ %>
                <!-- Title -->
                <h1 class="mt-4 posttitle"><a href="/<%= posts[post].title %>"><%= posts[post].title %></a></h1><i class="fas fa-external-link-alt"></i>
                <!-- Author -->
                <br>
                <p style="float:left;">tags # <%= posts[post].category %></p>
                <p style="float:right;">
                <i style="color: #cd486b;" class="fas fa-pencil-alt"></i> <a style="color: inherit;" href="#"><%= posts[post].author %></a>
                </p>
                <br>
                <!-- Post Content -->
                <!-- <p class="lead"> <%= posts[post].content %> </p> -->
                
                <hr>
            <% } %>
        </div>
    </div>
    </div>
        <!-- </div> -->
        <!-- Page Content -->

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
</body>
</html>